body{
    margin: 0px;
    background-color: aliceblue;
    font-family: 'Raleway', cursive; 
}

button{
font-size: 16px;
text-align: center;
border-radius: 8px;
padding:10px 20px ;
justify-content: space-evenly;


}

.navct {
    display: flex;
    flex-direction: row;
    color: aliceblue;
    font-weight: bold;
    margin-left: 20px;
   
}

.navct a {
    display: flex;
    flex-direction: row;
    color: aliceblue;
    font-weight: bold;
    margin-left: 45px;
    margin-right: 50px;
    text-decoration: none;
    font-weight: bold;
}

.navct a:hover{

    transform: scaleX(1);
    transform: scaleY(0.8);
    transition: all 1s;
}

.page-nav>img{ 
width: 50px;
right: auto;
transition-duration: 0.4s;
position: absolute;
right: 30px;
bottom: 20px;
margin-right: 15px;
margin-bottom: 35px;
justify-content: space-evenly;

}

.User{

    color: black;
    
    transition-duration: 0.4s;
    position:absolute;
    left: 15px;
    bottom: 50px;
    margin-left: 1265px;
}

.Destacados{
margin: auto;
position: absolute;
text-align: center;
position: relative;
padding: 10px;
}


.page-nav{
background-color: #16222c;    
border: 1px solid black;
position: relative;
flex-direction: row;
}

.page-nav h1{
margin: 20px;
}

.section-header{
display: flex;
flex-direction: row;
color: aliceblue;
font-weight: bold;

}

section>div{
width: 100px;
text-align: center;
margin: 5px;
height: 20px;
position: relative;
padding: 10px;
}

section>div:hover{

transform: scaleX(1);
transform: scaleY(0.8);
transition: all 1s;

}

.Ingresar{
    
    background-color: white;
    color: black;
    border: 1px solid rgb(255, 255, 255);
    transition-duration: 0.4s;
    position:absolute;
    right: 15px;
    bottom: 10px;
    margin-right: 140px;
}
.Ingresar:hover{
    background-color: #314255; 
    color: white;

}



.button-checkout{
background-color: white;
color: black;
border: 1px solid rgb(255, 255, 255);
transition-duration: 0.4s;
position: absolute;
right: 15px;
bottom: 10px;

}

.button-checkout:hover {
    background-color: #314255; 
    color: white;
  }


.page-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
}


.product-container{
    margin: 15px;
    padding: 2px 16px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    background-color: white;
}

.product-container:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
    

.product-container img {
    width: 300px;
}

.product-container h3{
margin-bottom: 10px;
margin-left: 15px;

}


.button-add {
    border: none;
    font-size: 16px;
    background-color: rgb(215, 237, 250);
    color: black;
    border-radius: 8px;
    padding: 10px 28px;
    border: 2px solid rgb(221, 233, 232);
    text-align: center;
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
  }
  
  .button-add:hover {
    background-color: #4c7aaf; /* Green */
    color: white;
  }

 
.footer {
    border-top: 1px solid rgb(255, 255, 255);
    margin-top: 40px;
    padding-top: 40px;
    background-color: #16222c;
}

.footer .menu a {
    display: block;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    text-decoration: none;
}